// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}
body{
  color: black;
}
header {
  background-color: #0732a2;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(7, 50, 162, 0.5);
  z-index: 99999;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  
}

my-home{
  flex-grow: 1;
  position: relative;
}

.grow{
  flex-grow: 1;
}

header,
footer{
  nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    transition: linear .2s all;
    text-decoration: none;
  }
  
  .logo-wrapper{
    a{
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      font-size: 16px;
    }
  }

  ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li{

      &:not(:last-child){
        margin-right: 10px;
      }

      a{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        border-radius: 0;

        
        &:hover:not(.btn),
        &.router-link-active{
          color: #FFEB3B;
        }
      }
    }
  }
}
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    transition: linear .2s all;
    text-decoration: none;
  }
  
  .logo-wrapper{
    a{
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      font-size: 16px;
    }
  }

  ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li{

      &:not(:last-child){
        margin-right: 10px;
      }

      a{
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        border-radius: 0;

        &.signUp{
          background: #4CAF50;
        }

        &.login{
          background: transparent;
        }

        &:hover,
        &:focus{
          border-color: #4CAF50;
        }
      }
    }
  }
}

footer {
  text-align: center;
  font-size: 0.8em;
  padding: 16px;
  background-color: #0732a2;
}

html{
  height: 100%;
}

html{
  height: 100%;
}
